body {
	background: #4B4B4B;
	border-top: 5px solid #000000;
	margin: 0;
	font-family: "Helvetica", sans-serif;
	line-height: 1.4em;
}

h1, h2, h3, p, ul, ol {
	margin: 0;
}
	
h1 {
	padding: 20px 15px;
	background:#00975C;
	color: #fff;
	text-shadow: 1px 2px 2px #424242;
}
	
h2 {
	padding: 7px 50px;
	background: #62D99C;
	color: #FFFFFF;
	text-shadow: 1px 1px 2px #000000;
}

h3 {
	padding: 7px;
	text-align: center;
	text-shadow: 2px 1px 1px #000000;
	color: #9E9E9E;
}

p {
	padding: 15px;
}

ul {
	list-style-type:circle
}

ol {
	list-style-type:upper-roman;
	margin: 0px 10px 20px 10px;
}

.content {
	background: #fff;
	width: 620px;
	margin: 0 auto;
}

#navigation {
	border-top: 5px solid #000000;
	width: 620px;
	margin: 0 auto;
	background:#00975C;
	color: #fff;
}

#navigation ul {
	padding: 25px;
	margin: 0;
	list-style-type: none;
	text-align: center;
}

#navigation ul li {
	margin: 0;
	list-style-type: none;
	display: inline;
}

#navigation ul li a {
	font-size: large;
	color: #fff;
	text-shadow: 1px 2px 2px #424242;
	text-decoration: none;
	padding: 1em;
}

#navigation ul li a:hover {
	text-shadow: 2px 1px 1px #000000;
	color: #9E9E9E;
}

a {
	font-weight:bold;
	color:#00975C;
	text-decoration: none;
}

a:hover {
	text-shadow: 1px 1px 1px #000000;
	text-decoration: underline;
}

a:visited{
	color: #9E9E9E;
}

.pic {
	padding: 0px;
	text-align: center;
	margin: 0;
}

.books {
	margin: 0px 40px 10px 10px;
}